
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* ----------------shared class ------------------ */
.text-orange{
    color:#FD6E0A;
}
.btn-orange{
    background-color: #FD6E0A;
    border-radius: 5px;
    color:#fff;
    padding:8px 20px;
    font-weight: 700;
    font-size: 20px;
    border:none;
    cursor: pointer;
}
.btn-orange:hover ,.btn-download:hover{
    background-color: #c45201;
}
/* ------header style--------- */
.header{
    min-height: 100vh;
    background: url('../images/developer.png') top left,url('../images/header_bg.png') right bottom;
    background-repeat: no-repeat;
    margin-left:30px ;
}
nav{
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-around;
}
nav>h3{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
    margin-right: -270px;
}
nav ul li{
    list-style-type: none;
    margin: 0 25px;
    padding: 10px 20px;
    position: relative;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-size: normal;
    color: rgba(71, 71, 71, 1);
}
nav ul li::after{
    content: "";
    background-color: #FD6E0A;
    display: block;
    margin-top: 3px;
    height: 2px;
    width: 0%;
    transition: 0.3s;
}
nav ul li:hover::after{
    width: 100%;
}

/* -----------hero section style------- */
.hero{
    display: flex;
}
.hero .hero-description{
    margin: 200px 0 0 230px;
}
.hero-description>h3{
    font-size: 45px;
    color:rgba(71, 71, 71, 1);
    font-weight: 500;
}
.hero-description>h1{
    font-weight: 600;
    color:rgba(24, 24, 24, 1);
    font-size: 85px;
}
.hero-description>p{
    line-height:27px ;
    color:rgba(117, 117, 117, 1);
    font-size: 18px;
    font-weight:normal;
}
.hero .hero-image{
   margin-top: 50px;
}
.btn-download{
    background-color: #FD6E0A;
    border-radius: 5px;
    color:#fff;
    padding:8px 20px;
    font-weight: 600;
    font-size: 20px;
    border:none;
    cursor: pointer;
}
.hero-description .hero-buttons{
    margin-top: 25px;
    display: flex;
    gap: 10px;
}
.hero-description .btn-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:1px solid #FD6E0A;
    border-radius: 5px;
    color:#FD6E0A;
    padding:8px 15px;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
}
.hero-description .btn-contact:hover{
    background-color: #FD6E0A;
    color: #fff;
}
main{
    margin: 0 auto;
}
#about{
    background-color: #FFF8F3;
    margin:130px auto 0;
    width: 70%;
    min-height: 100vh;
    display: flex;
    border-radius: 10px;
}
.about-description{
    margin: 170px 150px;
    padding: 5px;
    border: 1px solid #000;
}
.about-description>h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: rgba(24, 24, 24, 1);
    font-weight: 600;
}
.about-description>p{
    font-size: 18px;
    text-align: center;
    color: rgba(117, 117, 117, 1);
    font-size: normal;
    margin-bottom: 15px;
}
 .about-me-info{
    display: flex;
    justify-content: space-evenly;
}
.about-me-detail{
    display: flex;
    margin-top: 75px;
    margin-right: 2px ;
    flex-direction: column;
    text-align:center;
   
}
.about-me-detail>p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
}
.about-me-detail>h4{
    font-size: 20px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
}

/* what i am section style */
#what-i-am{
    margin:130px auto 0;
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#what-i-am>h1{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 10px;
}
#what-i-am>p{
    color: rgba(117, 117, 117, 1);
    text-align: center;
    font-size: 18px;
}
#what-i-am .card-box{
    margin-top: 50px;
    display: flex;
    gap: 25px;

}
.card-box .card{
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0,0.1) ;
    border-radius: 5px;
    padding: 40px 30px;
}
.card-box .card img{
    width: 40px;
    height: 30px;
    object-fit: contain;
}
.card-box .card>h3{
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}
.card-box .card>p{
    font-size: 16px;
    font-weight: 400;
    color:rgba(117, 117, 117, 1);
}
#resume-summary{
    margin:130px auto 50px;
    width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
#resume-summary>h1{
    text-align: center;
    font-size: 35px;
    color: rgba(24, 24, 24, 1);
    font-weight: 600;
}
.resume-block{
    margin-top: 110px;
    display: flex;
    gap: 25px;
}

.education-qualification>h2,.works>h2{
    font-size: 30px;
    color: rgba(71, 71, 71, 1);
    font-weight: 600;
    margin-bottom: 30px;

}
.educational-institute,.work-experience{
    margin: 30px 0;
}
.educational-institute>h3,.work-experience>h3{
    font-size: 25px;
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
    margin-bottom: 10px;
}
.educational-institute>h6,.work-experience>h6{
    font-size: 20px;
    font-weight: 700;
    color:rgba(117, 117, 117, 1);
    margin-bottom: 20px;
}
.educational-institute>p,.work-experience>p{
    color: rgba(117, 117, 117, 1);
    margin-bottom: 30px;
}
#resume-summary .works{
   
}